.navbar{
    margin-bottom:0!important;
}
#search-area{
    margin-top:0;
    padding:10%;
    background:orange;
}
.col-centered{
    float:none !important;
    margin:0 auto;
}
#summary h4 {
    font-size:30px;
    color:green;
}
#summary p {
    font-size:18px;
}
.row li {
    float:left;
    margin:4px;
}
.row ul {
    list-style-type:none;
}
li a {
    padding:5px;
    display:block;
}
.modal-title{
    background-color: orange;
    color:black;
    font-size: 120%;
    font-weight: bolder;
    font-family: cursive;
}

.row li a:hover {
    color: white;
}
/* let the games begin */

img.img-responsive{
    height:330px;
    width:650px;
}