<html>

<head>
    <title>Yummy Recipes</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/fav.png">
    <link rel="stylesheet" type="text/css" href="../static/css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-default  navbar-expand-md fixed-top " id="navbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#yummynavbar" id="Navbar1" aria-controls="#navbar"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Yummy Recipes</a>
        </div>
        <div id="yummynavbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Category 1</a>
                        </li>
                        <li>
                            <a href="#">Category 2</a>
                        </li>
                        <li>
                            <a href="#">Category 3</a>
                        </li>
                        <li>
                            <a href="#">Category 4</a>
                        </li>
                        <li>
                            <a href="#">Category 5</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a data-toggle="modal" data-target="#share-modal" role="button">Share Recipe</a>
                </li>
                {% if current_user.is_anonymous %}
                <li>
                    <a data-toggle="modal" data-target="#login-modal" role="button">Login</a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#sign-up-modal">Sign-up</a>
                </li>
                {% else %}
                <li>
                    <a class="btn btn-danger"  role="button" href="{{ url_for('logout')}}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- search area -->
    <div class="container-fluid" id="search-area">
        <div class="row" id="summary">
            <div class="col-sm-12 col-lg-4">
                <h4>YUMMY RECIPE</h4>
                <p>interesting, free recipes. </p>
                <p>Recipes by foodies from all over the world. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-centered">
                <form class="form-horizontal" action="#" id="search-form">
                    <div class="form-group">
                        <label class="sr-only" for="search">search</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" placeholder="Search for a Recipe" name="search">
                            <i fa fa-search></i>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-default">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="Tsearches">
            <div class="col-sm-12">
                <dl>
                    <dt>Trending searches: </dt>
                    <dd>
                        <ul>
                            <li>
                                <a href="#">kenya</a>
                            </li>
                            <li>
                                <a href="#">swahili</a>
                            </li>
                            <li>
                                <a href="#">breakfast</a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav class="navbar-nav navbar-light">
                    <ul class="nav navbar-nav ">
                        {% if not current_user.is_anonymous %}
                         <li class="nav-item">
                             <a href="">Home</a>
                         </li>
                         <li class="nav-item">
                             <a href="">New</a>
                         </li>
                         <li class="nav-item">
                             <a href="">Folowing</a>
                         </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="">New</a>
                        </li>
                        <li class="nav-item active">
                            <a href="">Trending</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>